{% extends "base.html" %}
{% block content %}
{% block pagetitle %}<title>Approving Client</title>{% endblock pagetitle %}
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Payor</th>
                    <th>Agent</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for items in query_list %}
                    <tr>
                        <td>{{ items.payment }}</td>
                        <td>{{ items.payment.auth_agent }}</td>
                        <td><a href="{% url 'pay-approve-view' items.payment.id items.id %}">View For Approval</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}