{% extends "base.html" %}

{% block content %}
{% block pagetitle %}<title>Approve or Cancel</title>{% endblock pagetitle %}

<div class="container">
    <div class="row">
        <table class="table table-sm table-striped">
            <tbody>
                {% for labels, items in full_list %}
                <tr>
                    <th>{{labels}}</th>
                    <td>{{items}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}